{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>   
<h2>Задание №1</h2> 
<p>
    Доработаем задачу про клиентов, заказы и товары из прошлого семинара. <br>
    Создайте форму для редактирования товаров в базе данных.
</p>
<h2>Задание №2</h2> 
<p>
    Измените модель продукта, добавьте поле для хранения фотографии продукта. <br>
    Создайте форму, которая позволит сохранять фото.
<h2>Результат</h2>
<p>
    <li>
        <a href="http://127.0.0.1:8000/hw4/product_add/">
            Форма для добавления товара в базу данных с изображением
        </a>
    </li>
    <li>
        <a href="http://127.0.0.1:8000/hw4/products_update/">
            Форма для редактирования товаров в базе данных
        </a>
    </li>
    </ul>
</p>
{% endblock %}
{% block footer %}
    {{ title }}
{% endblock footer %}