{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>    
<p>
    Продолжаем работать с товарами и заказами. <br>
    Создайте шаблон, который выводит список заказанных клиентом товаров из всех его заказов с сортировкой по времени:
    <ul>
        <li>
            за последние 7 дней (неделю)
        </li>
        <li>
            за последние 30 дней (месяц)
        </li>
        <li>
            за последние 365 дней (год)
        </li>
    </ul>
    Товары в списке не должны повторятся.
</p>
<p>
    Результат: <br>
    Примеры вывода списка уникальных товаров, сортированных по последней дате покупки в заказах пользователя с id 1
    <ul>
        <li>
            <a href="http://127.0.0.1:8000/hw3/purchases/1/">Всех</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/hw3/purchases/1/7/">за последние 7 дней (неделю)</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/hw3/purchases/1/30/">за последние 30 дней (месяц)</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/hw3/purchases/1/365/">за последние 365 дней (год)</a>
        </li>
    </ul>
    Шаблоны для вывода:
    <ul>
        <li>
            <a href="http://127.0.0.1:8000/hw3/users/">Пользователи</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/hw3/orders/">Заказы</a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/hw3/products/">Товары</a>
        </li>
    </ul>
</p>
{% endblock %}
{% block footer %}
    {{ title }}
{% endblock footer %}