{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>   
<h2>Урок 1. Введение в Django</h2> 
<p>
    Создайте пару представлений в вашем первом приложении:<br>
    — главная<br>
    — о себе.. <br>
    <a href="http://127.0.0.1:8000/hw1/">Подробнее</a>
</p>
<h2>Урок 2. Работа с моделями</h2> 
<p>
    Создайте три модели Django: клиент, товар и заказ.<br>
    Клиент может иметь несколько заказов.. <br>
    <a href="http://127.0.0.1:8000/hw2/">Подробнее</a>
</p>
<h2>Урок 3. Работа с представлениями и шаблонами</h2> 
<p>
    Продолжаем работать с товарами и заказами.<br>
    Создайте шаблон, который выводит список заказанных клиентом товаров.. <br>
    <a href="http://127.0.0.1:8000/hw3/">Подробнее</a>
</p>
<h2>Урок 4. Работа с формами</h2> 
<p>
    Измените модель продукта, добавьте поле для хранения фотографии продукта..<br>
    <a href="http://127.0.0.1:8000/hw4/">Подробнее</a>
</p>
<h2>Урок 5. Работа с административной панелью</h2> 
<p>
    Настройте под свои нужды вывод информации о клиентах, товарах и заказах..<br>
    <a href="http://127.0.0.1:8000/hw5/">Подробнее</a>
</p>
<h2>Урок 6. Развёртывание проекта</h2> 
<p>
    Настроить работу проекта на сервере PythonAnywhere
</p>
{% endblock %}
{% block footer %}
    {{ title }}
{% endblock footer %}